$height-header--mobile: 1.4rem;
$padding-header--mobile: 1.3rem;
$width-header--primary-desktop: 14rem;

$thumbnail--width: 12.5rem;

* {
    font-family: 'Lato', sans-serif;
}

article {
    justify-content: space-evenly;
}

@media screen and (min-width: 750px) {
    article {
        justify-content: space-between ;
    }
}

@media screen and (min-width: 930px) {
    article {
        justify-content: initial ;
    }
}

body {
    background-color: #F2F2F2;
    height: 100vh;
    margin: 0;
}

button[type=submit] {
    width: 100%;
}

@media screen and (min-width: 930px) {
    button[type=submit] {
        margin-left: auto;
        width: initial;
    }
}

form {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;

    .content {
        width: 100vw;
        margin-top: 4.0rem;
    }
}

@media screen and (min-width: 930px) {
    main {
        height: 100vh;
        overflow-y: hidden;
        .content {
            width: calc(100vw - #{$width-header--primary-desktop});
            margin-top: 0;
        }
    }
}

.background-img {
    width: inherit;
    padding-top: #{$height-header--mobile};
    height: calc(100vh - #{$height-header--mobile});
    position: absolute;
    z-index: -1;
    top: 0;
    background-image: url('media/cover-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 930px) {
    .background-img {
        padding-top: 0;
        height: 100vh;
    }
}

@media screen and (min-width: 930px) {
    .content {
        overflow-y: scroll;
    }
}

// ----------
// Modifiers
// ----------

// Margin
$total-margin-steps: 10;
@for $i from 1 through $total-margin-steps {
    .mb-#{$i} {
        margin-bottom: $i * 0.25rem;
    }

    .ml-#{$i} {
        margin-left: $i * 0.25rem;
    }

    .mr-#{$i} {
        margin-right: $i * 0.25rem;
    }

    .mt-#{$i} {
        margin-top: $i * 0.25rem;
    }
}

$total-padding-steps: 10;
@for $i from 1 through $total-padding-steps {
    .p-#{$i} {
        padding: $i * 0.25rem;
    }

    .pl-#{$i} {
        padding-left: $i * 0.25rem;
    }
}

// Fonts
.small {
    font-size: 80%;
    font-weight: 400;
}

.color-white {
    color: white;
}

.text-center {
    text-align: center;
}